@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --surface: #f8fafc;
  --border: #e2e8f0;
  --shadow: #22222277;

  --text-primary: #020617;
  --text-secondary: #f8fafc;

  --primary: #5185ff;
  --primary-foreground: #ffffff;

  --accent: #eab308;
  --destructive: #ef4444;
}

.dark {
  --background: #0f172a;
  --surface: #020617;
  --border: #1e293b;
  --shadow: #dddddd55;

  --text-primary: #f8fafc;
  --text-secondary: #f8fafc;

  --primary: #5185ff;
  --primary-foreground: #020617;

  --accent: #eab308;
  --destructive: #f87171;
}
